*{
  margin: 0px ;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header{
  background-color: #000000;
  width: 100vW;
  height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 2;
}
header>div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#right-header>button{
  padding: 5px 18px;
  border-radius: 10px;
  font-weight: 600;
}
#right-header>button:hover{
  background-color: #D5D5D5;
  transition: .3s;
}
header>div h1{
 color: #FFFFFF;
}
header>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
header>div>div>a{
  text-decoration:none;
  color: #FFFFFF;
   padding: 10px;
  border-radius: 20px;
}
header>div>div>a:hover{
  background-color: #333;
  transition: .3s ease;
}
.marginbox-left{
  margin-left: 80px ;
}
.marginbox-right{
  margin-right: 80px;
}
nav{
  display: flex;
  justify-content: space-between;
 align-items: center;
 width: 100vw;
 height: 60px;
}
nav>h1{
  font-size: 1.6rem;
}
nav>h1:hover{
  background-color: #D1D1D1;
  border-radius: 50%;
  padding: 8px 0px;
  transition: .3s ease;
}
nav>ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px
}
nav>ul>li{
  list-style: none;
}
nav>ul>li>a{
  text-decoration: none;
  color: #6b6b6b;
  font-size: .9rem;
}
nav>ul>li>a:hover{
color: #000000;
transition: .3s ease;
}
#Hero-section{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 80px;
  width: 100%;
  padding: 60px;
}
.hero-box{
  width:35% ;
}
#left-hero{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#uber-down{
  display: none;
}
#left-hero>p>span{
  margin: 0px 10px;
}
#left-hero>p>span>a{
  color: #000000;
}
#left-hero>p>span>a:hover{
  background-color: #EAE8E8;
  border-radius: 20px;
}
#left-hero>h1{
  font-size: 3.23rem;
  font-weight: 700;
}
.tag-hero{
  color: rgb(123, 201, 7);
}
#left-hero>div>div>input{
  width: 350px;
  padding: 15px 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-style: none;
  background-color: #d9d9d95e;
}
.btn{
padding: 10px;
}
.hero-location{
  position: relative;
  top: 0px;
}
.hero-border{
  height: 98px;
  width: 1px;
  border: 1px solid black;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.hero-pickup{
  position: relative;
  z-index: 1;
  top: 0px;
}
 .hero-drop{
  position: relative;
  z-index: 1;
  top: 0px;
  width: auto;
 }
.in-pick{
  position: absolute;
  top: 9px;
  left: 14px;
}
.in-drop{
  position: absolute;
  top: 15px;
  left: 14px;
}
.btn{
    padding: 10px;
    gap: 20px;
}
.primary-btn{
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.second-btn{
    background-color: #f0f0f0F0;
    border: 2px solid #f0f0f0F0;
    color: #000000;
    border-radius: 10px;
    font-weight: 600;
}
.second-btn:hover{
    background-color: #D5D5D5;
    border: 2px solid #D5D5D5;
    transition: .3s;
}
#sug-main{
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}

.suga-box{
    display: flex;
    padding: 20px;
    background-color: #d1d1d13e;
    border-radius: 20px;
    margin-top: 20px;
}

.suga-box>div>img{
    width: 150px;
    height: auto;
}
.suga-big-box{
    display: grid;
    grid-template-columns: repeat(3,450px);
    padding: 15px;
    gap: 20px;
}

.suga-box>div>button{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: #fff;
}

.suga-box-left{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#plan-later{
  width: 90%;
  margin: auto;
  padding: 20px 0px;
}

.plan-left{
  margin-top: 30px;
  height: 400px;
  width: 60%;
  background-color: rgb(157, 205, 214);
  border-radius: 15px;
  display: flex;
}

.plan-left{
  background-image: url("https://tb-static.uber.com/prod/udam-assets/5152cc71-a5b0-4fbd-aeb8-bee896efcd48.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;

}
.plan-child-l{
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}

.plan-child-l>button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 550;
  font-size: large;
  border: none;
  background-color: #000000;
  color: #FFFFFF;
}

.plan-right{
  width: 30%;
  height: 330px;
  margin-top: 30px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.plan-container{
  display: flex;
  gap: 50px;
}
.plan-benefits{
  display: flex;
  gap: 8px;
}
.plan-benefits>p{
  margin-left: 5px;
  align-content: center;
  word-spacing: 3px;
}
.plan-right>a{
  color: #D1D1D1;
  text-decoration: dotted underline;
}
.ride{
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ride-left{
  /* margin-left: 10px; */
  width: 50%;
}
.ride-left>img{
  margin-top: 80px;
    width: 100%;
  
}
.ride-right{
  margin-top: 130px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}
.ride-right>a{
  text-underline-offset: 7px;
  text-decoration: underline #6b6b6b35;
  color: #6B6B6B;
}
.ride-right>a:hover{
  text-decoration: underline black;
  transition: .5s;
  transform-style:initial;
}
footer{
  width: 100vw;
  background-color: #000000;
  padding: 40px;
}
#uber-footer{
  width: 90%;
  margin: auto;
  background-color: #000000;
  padding: 20px;
  padding-top: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.hyper-links{
  display: flex;
  gap: 260px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.Uber>a, .visit-help>a{
  margin-top: 200px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  /* margin-left: 150px; */
}
.visit-help>a:hover{
  text-decoration:underline;
  text-underline-offset: 5px;
  transition: 0.4s;
}
.marginbox-footer>h3{
  padding-bottom: 22px;
}
.marginbox-footer{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.marginbox-footer>li>a{
  text-decoration: none;
  color: gainsboro;
  font-size: 14px;
  font-weight: 400;
}
.marginbox-footer>li>a:hover{
  color: #6b6b6bbc;
  transition: 0.3s;
}
.footer-logo{
  display: flex;
  margin-left: 70%;
  gap: 50px;
}
.footer-logo>a{
  color: gainsboro;
  text-decoration: none;
}
.footer-down{
  margin-left: 70%;
  display: flex;
  gap: 20px;
  margin-bottom: 0px;
}
.footer-down>a{
  color: rgba(220, 220, 220, 0.509);
  text-decoration: none;
}
.footer-down>a:hover{
  color: gainsboro;
}


@media screen and (max-width:1136px) {
  #right-hero, .second-btn{
    display: none;
  }
  #Hero-section{
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;

  }
  #uber-down{
    display: inline;
    margin-top: 20px;
  }
  .plan-container{
    flex-direction: column;
  }
  .plan-right{
    width: 500px;
  }
  .suga-big-box{
    grid-template-columns: 450px;
  }
  .plan-child-l{
    width: 60%;
  }
  .ride{
    flex-direction: column;
  }
  .ride-left{
    width: 90%;
  }
  .ride-right{
    width: 90%;
  }

}
@media screen and (max-width:600px) {
  .plan-left{
    background-image: none;
  }
  .plan-child-l{
    width: 100%;
  }
}